<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Run My Gist</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-6">

            {{input type="text" value=gistURL}}

            <div class="btn btn-default" {{action 'runIT'}}  >Run my Gist</div>

        </div>
        <div class="col-md-6 col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Results
                </div>
                <div class="panel-body">
                    {{result}}
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-12">
            {{outlet}}
        </div>
    </div>
</div>

